<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__content">
				<div class="footer__logo">
					<img src="img/logo_footer.png" alt="">
				</div>
				<div class="footer__copyright">
					<p>ООО «Мон’дэлис Русь».</p>
					<p>Часть группы компаний Mondelez International. Все права защищены.</p>
				</div>
			</div>
			<div class="footer__content">
				<a href="tel:8-800-555-8000" class="footer__contacts">
					<span class="icon-phone"></span>
					<span>8-800-555-8000</span>
				</a>
				<ul class="footer__info">
					<li>
						<a href="#" target="_blank">Политика конфиденциальности</a>
					</li>
					<li>
						<a href="#" target="_blank">Правила акции</a>
					</li>
					<li>
						<a href="#" target="_blank">Пользовательское соглашение</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>