<header id="header" class="header">
	<div class="container">
		<div class="header__inner">
			<a class="mobile-menu" href="#">
				<span></span>
			</a>
			<div class="btn-wrap">
				<a href="index.html" class="btn btn--header">
					<span class="btn__circle">
						<span></span>
					</span>
					<span class="btn__name">пятёрочка</span>
				</a>
			</div>
			<nav class="header__nav">
				<div class="header__nav-title">
					<span class="header__title-text">пятёрочка</span>
					<a class="close-menu" href="#"></a>
				</div>
				<div class="header__nav-list">
					<a href="pyaterochka.html" class="header__item">
						<span class="icon icon-home"></span>
						<span class="header__item-text">главная</span>
					</a>
					<a href="#" class="header__item">
						<span class="icon icon-rules"></span>
						<span class="header__item-text">правила и призы</span>
					</a>
					<a href="winners.html" class="header__item">
						<span class="icon icon-winner"></span>
						<span class="header__item-text">победители</span>
					</a>
					<a href="products.html" class="header__item">
						<span class="icon icon-production"></span>
						<span class="header__item-text">продукция</span>
					</a>
					<a href="#" class="header__item header__item--active">
						<span class="icon icon-faq"></span>
						<span class="header__item-text">faq</span>
					</a>
					<a href="feedback.html" class="header__item">
						<span class="icon icon-feedback"></span>
						<span class="header__item-text">обратная связь</span>
					</a>
				</div>
				<div class="header__login-mob"> <!-- Add class login-end -->
					<a href="#" class="login login--end js-popup-button" data-popupShow="popup__login">
						<span class="icon icon-enter"></span>
						<span class="login__text">вход</span>
					</a>
					<a href="#" class="profile">
						<span class="icon icon-profile"></span>
						<span class="profile__text">профиль</span>
					</a>
					<a href="#" class="logout">
						<span class="icon icon-exit"></span>
						<span class="logout__text">выход</span>
					</a>
				</div>
			</nav>
			<div class="header__login"> <!-- Add class login-end -->
				<a href="#" class="login login--end js-popup-button" data-popupShow="popup__login">
					<span class="icon icon-enter"></span>
					<span class="login__text">вход</span>
				</a>
				<a href="profile.html" class="profile">
					<span class="icon icon-profile"></span>
					<span class="profile__text">профиль</span>
				</a>
				<a href="#" class="logout">
					<span class="icon icon-exit"></span>
					<span class="logout__text">выход</span>
				</a>
			</div>
		</div>
	</div>
</header>