html {
	font-size: 14px;
}

body {
	font-size: 14px;
	color: $mainColor;
	font-family: $gothamBol;
}

.height-helper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

%footnote {
	width: 13px;
	height: 13px;
	position: absolute;
	text-align: center;
	border-radius: 50%;
	font-size: .57rem;
	line-height: 1rem;
	font-family: $gothamReg;
	color: $mainColor;
}

.main {
	flex: 1 0 auto;
	background: url("../img/background.png") no-repeat center bottom;
	background-size: cover;
	overflow: hidden;

	&--page {
		position: relative;

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100px;
			background-color: $mainColor;
		}
	}
}

// Passing page, Main page------------------
.header-title {
	font-size: 50px;
	padding: .5em 0;
	background-color: #c4132f;

	@include xs {
		font-size: 19px;
	}
}

.section-passing {
	margin-top: 45px;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	height: calc(100vh - 120px);
	
	@include mdH {
		height: auto;
	}

	&__store-lists {
		display: flex;
		justify-content: center;
		position: relative;
		z-index: 1;

		@include sm {
			flex-direction: column;
			align-items: center;
		}
	}

	&__list {
		padding: 0 40px;

		.btn {
			min-width: 240px;
		}

		@include sm {
			padding: 0;
		}
	}	
}

.main-img {
	position: relative;

	&--main {
		margin-top: -85px;

		.main-img__washer {
			margin-top: 0;

			img {
				top: 140px;
			}
		}

		@include smH {

			.main-img__washer {

				img {
					max-width: 300px;
					top: 100px;
				}
			}

			.main-img__stick {

				img {
					max-width: 230px;
				}

				&--1 {
					top: 25%;
				}

				&--2 {
					top: 5%;
				}
			}
		}
	}

	&__stick {
		position: absolute;
		top: 0;
		
		&--1 {
			left: 0;
			top: 20%;

			img {
				max-height: 415px;
			}
		}

		&--2 {
			right: 0;

			img {
				max-height: 375px;
			}
		}
	}

	&__washer {
		text-align: center;
		margin-top: 5%;

		img {
			max-height: 350px;
			position: relative;
			left: 15%;
		}
	}
}

.main-section {
	margin-top: 15px;
	height: calc(100vh - 25px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include mdH {
		height: auto;
	}

	&__top {
		text-align: center;
		flex-grow: 1;
		font-size: 23px;

		@include smNotebook {
			font-size: 14px;
		}

		@include mdNotebook {
			font-size: 12px;
		}

		@include lgNotebook {
			font-size: 18px;
		}
	}

	&__img {
		
		img {
			max-height: 10em;
		}
	}
}

.info-section {
	min-height: 420px;
	max-height: 420px;
	background: url("../img/bg-info.png") no-repeat center top;
	background-size: cover;
	background-position-x: 50%;
	margin-top: -115px;
	position: relative;
	z-index: 1;

	@include mdNotebook {
		margin-top: -160px;
	}

	@include lgNotebook {
		margin-top: -115px;
	}

	&__inner {
		padding-top: 200px;
		padding-left: 25px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		text-transform: uppercase;

		@include mdNotebook {
			padding-top: 195px;
		}
	}

	&__item {
		position: relative;
		font-size: 20px;

		&--third {
			
			.info-section__inner-item {
				margin-left: -20px;
			}
		}

		&:nth-child(n+2) {
			margin-left: 20px;
		}
	}

	&__inner-item {
		position: relative;

		& > div {
		
			&:nth-child(n+2) {
				margin-top: .4em;
			}
		}
	}

	&__text-wrap {
		position: relative;
		padding-left: 3.5em;

		&:before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			background: url("../img/telephone.png") no-repeat center center;
			background-size: contain;
			width: 2.5em;
			height: 4em;
		}
	}

	&__title {
		font-size: 1.5em;
		line-height: 100%;
	}

	&__text {
		font-family: $gothamBol;

		&--pd {
			padding-left: 4.25em;
		}

		&--mt {
			margin-top: 1em;
		}
	}

	&__text-inner {

		& > div {

			&:nth-child(n+2) {
				margin-top: .25em;
			}
		}

		&--img {
			position: relative;

			&:after {
				content: "";
				position: absolute;
				top: -.75em;
				right: -1em;
				background: url("../img/card.png") no-repeat center center;
				background-size: contain;
				width: 3em;
				height: 3em;
			}
		}
	}

	&__wrap-text {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: url("../img/bag.png") no-repeat center center;
			background-size: contain;
			width: 4em;
			height: 4.5em;
		}
	}
	
	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__img-bag {
		display: none;

		img {
			max-height: 110px;
		}
	}

	&__img {
		text-align: right;

		&--footnote {
			position: relative;

			&:after {
				content: "1";
				top: 0;
				left: 35%;
				transform: translateX(-50%);
				@extend %footnote;
				background-color:  rgba(#000000, .35);
			}
		}

		img {
			max-height: 6.5em;
		}
	}
}

.word-footnote {
	position: relative;

	&:after {
		content: "1";
		top: 0;
		right: -20px;
		@extend %footnote;
		background-color:  rgba(#000000, .35);
	}
}

.rules-section {
	background-color: $bgRules;
	padding: 10px 0;
	font-family: $gothamLig;
	font-size: .78rem;
	position: relative;
	z-index: 1;

	&__inner {
		counter-reset: num;
		max-width: 850px;
		width: 100%;
		margin: 0 auto;
		display: block;

		p {
			padding-left: 20px;
			position: relative;
			
			&:before {
				counter-increment: num;
				content: counter(num);
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background-color: #1868b4;
				@extend %footnote;
			}
		}
	}
}

// Winners, Profile, FAQ, Products, Feedback---------------------------
.section {
	padding: 30px 0;

	&__winner {
		display: flex;
		flex-direction: column;
	}

	&__winner-table {
		font-size: 25px;
	}

	&__profile {
		margin-top: 50px;
		display: flex;
		justify-content: space-between;
	}

	&__profile-table {
		font-size: 30px;
		background-color: $mainBlock;
		padding: 1em;
		border-radius: .16em;
		flex: 1 0 auto;
	}

	&__profile-table-top {
		display: flex;
		justify-content: space-between;
	}

	&__profile-info {
		flex: 0 1 26.1em;
		font-size: 13px;
		margin-left: 3.8em;
		background-color: $mainBlock;
		border-radius: .38em;
	}

	&__user-info,
	&__user-prizes {
		padding: 1.5em;
	}

	&__faq {
		margin-top: 20px;
		font-size: 16px;
		font-family: $gothamReg;
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: center;

		.scroll-element.scroll-y {
			display: none;
		}
	}

	&__faq-inner {
		padding-top: 30px;
		flex-basis: 29%;
		
		&:nth-child(n+2) {
			margin-left: 50px;
		}
	}

	&__faq-list {
		margin-top: 1.2em;
	}

	&__faq-item {
		background-color: $mainBlock;
		border-radius: .3em;

		&:nth-child(n+2) {
			margin-top: .6em;
		}
	}

	&__faq-header {
		padding: .9em;
		border-radius: .3em .3em 0 0;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include transitionEase(.3s);

		&.active {
			background-color: $mainBlock;

			.toggle-faq {
				transform: rotate(45deg);
			}
		}
	}

	&__faq-text {
		padding: .9em;
		border-radius: 0 0 .3em .3em;
		display: none;
	}

	&__products {
		margin-top: 50px;
		display: flex;
		align-items: flex-start;
		font-size: 20px;
	}

	&__feedback {
		max-width: 500px;
		width: 100%;
		margin: 50px auto 0;
		padding: 35px;
		border-radius: 10px;
		background-color: $mainBlock;
	}
}

.products-name {
	background-color: $lighterBlock;
	flex: 1 1 20em;
	max-width: 20em;
	border-radius: .5em 0 0;

	&__item {
		display: flex;
		align-items: center;
		cursor: pointer;
		opacity: .5;
		@include transitionEase(.3s);

		&:first-child {
			border-radius: .5em 0 0;
		}

		&:nth-child(n+2) {
			border-top: 1px solid $lighterBlock;
		}

		&:hover {
			background-color: $lighterBlock;
			opacity: 1;
		}

		&.active {
			background-color: $lighterBlock;
			opacity: 1;
		}
	}
	
	&__img {
		padding: 0 .8em;
		flex-shrink: 0;
		max-width: 5em;
		width: 100%;
		text-align: center;

		img {
			max-height: 2.5em;
			max-width: 3.2em;
		}
	}

	&__title {
		text-transform: uppercase;
		padding: 1.2em 1em;
		border-left: 1px solid $lighterBlock;
		font-size: 1em;
		flex-basis: 14em;
	}
}

.products-wrap {
	padding: 1em .5em 1em 1em;
	background-color: $mainBlock;
	flex: 1 1 0%;
	min-width: 44em;
	border-radius: 0 .5em .5em;

	&__inner {
		height: 500px;
		-webkit-overflow-scrolling: touch;
	}

	&__list {
		display: none;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-right: 1.5em;

		&.active {
			display: flex;
		}
	}

	&__item {
		background-color: $lighterBlock;
		margin-bottom: 1.5em;
		padding: .75em;
		border-radius: .2em;
		flex: 1 1 13em;
		max-width: 13em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 0;
		min-height: 9.5em;

		&--empty {
			background-color: rgba(0, 0, 0, 0);
			margin-bottom: 0 !important;
			padding: 0 !important;
			min-height: 0;
		}
	}

	&__descr {
		display: flex;
	}

	&__img {

		img {
			max-width: 5em;
			max-height: 6em;
		}
	}

	&__text {
		margin-left: .75em;
	}

	&__weight {
		margin-top: .5em;
		font-size: 1.1em;
		align-self: flex-end;
	}
}

.toggle-faq {
	flex-shrink: 0;
	width: 16px;
    height: 16px;
	position: relative;
	margin-left: 10px;
	@include transitionEase(.3s);

	&:after,
	&:before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		width: 2px;
		background-color: $mainColor;
	}

	&:after {
		top: 50%;
		bottom: auto;
		left: 0;
		transform: translate(0, -50%);
		width: 100%;
		height: 2px;
	}
}

.winner-table {
	background-color: $mainBlock;
	border-radius: .2em 0 .2em .2em;

	width: 100%;

	&__header {
		background-color: $mainBlock;
		width: 100%;
		border-radius: .2em 0 0 0;
	}

	&__th {
		color: $titleColor;
		font-size: 1.3em;
		line-height: 100%;
		padding: 0.6em 0;
		text-align: center;

		&--prize {
			padding-left: 1.3em;
			text-align: left;
			width: 330px;

			@include md {
				width: 39%;
			}
		}

		&--date {
			text-align: left;

			@include md {
				width: 30%;
				text-align: center;
			}
		}

		&--mob {
			display: none;

			@include md {
				display: table-cell;
				width: 30%;
				padding-right: 1em;
			}
		}

		&--desk {

			@include md {
				display: none;
			}
		}
	}

	&__main-wrap {
		height: 500px;
		margin: 15px 0;
		-webkit-overflow-scrolling: touch;
	}

	&__main {
		width: 100%;

		tr {

			&:nth-child(n+2) {

				@include md {

					td {
						padding-top: 5.5em;
					}
				}
			}
		}

		td {
			font-size: 1em;
			padding-top: 3em;
			vertical-align: top;
			font-family: $gothamReg;
		}
	}

	&__td-title {
		padding-left: 1.3em;
	    width: 330px;
	}

	&__title {
		position: relative;

		&:before {
			content: attr(data-title);
			position: absolute;
			top: -1.6em;
			left: 0;
			color: $titleColor;
			font-size: 1em;
			white-space: pre;
		}
	}

	&__td-name {
		padding-left: 2em;
	}

	&__list {

		li {
			line-height: 100%;
			white-space: pre-wrap;
			word-break: break-all;

			&:nth-child(n+2) {
				margin-top: 20px;

				@include md {
					margin-top: 3em;
				}
			}
		}

		&--name {

			li {
				position: relative;
				white-space: pre-wrap;

				@include md {

					&:after {
						content: attr(data-email);
						display: block;
						color: $mainColor;
						font-size: 1em;
						word-break: break-all;
					}
				}
			}
		}
	}

	&__td-email {

		@include md {
			display: none;
		}
	}

	&__td-date {
		padding-right: 20px;
	}
}

.search-wrap {
	background-color: $mainBlock;
	display: flex;
	max-width: 350px;
	width: 100%;
	border-radius: 7px 7px 0 0;
	align-self: flex-end;
	font-size: 23px;

	&__icon {
		padding: .5em 0 .5em .43em;
		background-color: rgba(#000000, 0);

		.icon-search {
			font-size: 1em;
			line-height: 100%;
		}
	}

	&__input {
		padding: .5em .43em;
		background-color: rgba(#000000, 0);
		font-size: 1em;
		line-height: 100%;
		color: $mainColor;

		&::placeholder {
			color: #c9c9c9;
		}
	}
}

.profile-table {
	margin-top: 2.7em;
	height: 500px;
	-webkit-overflow-scrolling: touch;

	&__table {
		font-family: $gothamReg;
		width: 100%;

		th {
			font-size: 1em;
			color: $titleColor;
			padding-bottom: 1.36em;
			line-height: 100%;
			text-align: left;
		}
	}

	&__row {

		&:nth-child(n+2) {

			td {
				padding-top: 1.3em;
			}
		}
	}
}

.prizes {
	margin-top: 2.6em;

	&__item {
		display: flex;
		align-items: center;

		&:nth-child(n+2) {
			margin-top: .7em;
		}
	}

	&__img {
		flex-shrink: 0;
		position: relative;

		img {
			max-height: 3.8em;
		}
	}

	&__quan {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: -1.1em;
		right: -.7em;
		border-radius: 50%;
		width: 1.5em;
		height: 1.5em;
		font-size: .7em;
		line-height: 100%;
		color: #c41430;
		background-color: $mainColor;
	}

	&__text {
		max-width: 13.4em;
		width: 100%;
		font-size: 1.1em;
		font-family: $gothamReg;
		margin-left: 1.5em;
	}
}


