@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro/GothamPro.eot');
	src: local('☺'), url('../fonts/GothamPro/GothamPro.woff') format('woff'), url('../fonts/GothamPro/GothamPro.ttf') format('truetype'), url('../fonts/GothamPro/GothamPro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-Black';
	src: url('../fonts/GothamPro/GothamPro-Black.eot');
	src: local('☺'), url('../fonts/GothamPro/GothamPro-Black.woff') format('woff'), url('../fonts/GothamPro/GothamPro-Black.ttf') format('truetype'), url('../fonts/GothamPro/GothamPro-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-Bold';
	src: url('../fonts/GothamPro/GothamPro-Bold.eot');
	src: local('☺'), url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro/GothamPro-Bold.ttf') format('truetype'), url('../fonts/GothamPro/GothamPro-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-Light';
	src: url('../fonts/GothamPro/GothamPro-Light.eot');
	src: local('☺'), url('../fonts/GothamPro/GothamPro-Light.woff') format('woff'), url('../fonts/GothamPro/GothamPro-Light.ttf') format('truetype'), url('../fonts/GothamPro/GothamPro-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon/icomoon.eot?mb6i65');
	src:  url('../fonts/icomoon/icomoon.eot?mb6i65#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon/icomoon.ttf?mb6i65') format('truetype'),
	  url('../fonts/icomoon/icomoon.woff?mb6i65') format('woff'),
	  url('../fonts/icomoon/icomoon.svg?mb6i65#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
  
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
	content: "\e90b";
	color: #fff;
}
.icon-profile:before {
	content: "\e909";
	color: #fff;
}
.icon-exit:before {
	content: "\e90a";
	color: #fff;
}
.icon-enter:before {
	content: "\e900";
	color: #fff;
}
.icon-faq:before {
	content: "\e901";
	color: #fff;
}
.icon-feedback:before {
	content: "\e902";
	color: #fff;
}
.icon-home:before {
	content: "\e903";
	color: #fff;
}
.icon-phone:before {
	content: "\e904";
	color: #d02129;
}
.icon-production:before {
	content: "\e905";
	color: #fff;
}
.icon-rules:before {
	content: "\e906";
	color: #fff;
}
.icon-search:before {
	content: "\e907";
	color: #fff;
}
.icon-winner:before {
	content: "\e908";
	color: #fff;
}