.header {
	padding: 15px 0;
	background-color: $headerBg;
	position: relative;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		margin-left: 25px;
		display: flex;

		&--notebook {

			@include smNotebook {
				flex-grow: 1;
			}
		}

		.login {
			display: none;

			@include md {
				display: block;
			}
		}

		.profile {
			display: none;
		}
	}

	&__nav-title {
		background-color: $bgMobTitle;
		margin: -15px -15px 0;
		padding: 15px;
		display: none;
		justify-content: space-between;
		align-items: center;

		@include md {
			display: flex;
		}
	}

	&__title-text {
		font-size: 0.92rem;
		text-transform: uppercase;
		line-height: 100%;
		white-space: pre;
	}

	&__nav-list {
		display: flex;
	}

	&__item {
		text-align: center;
		text-transform: uppercase;
		font-size: .85rem;

		&:nth-child(n+2) {
			margin-left: 15px;
		}

		&:hover {

			.icon:before,
			.header__item-text {
				color: $activeColorDesk;
			}
		}

		&--active {

			.icon:before,
			.header__item-text {
				color: $activeColorDesk;
			}
		}
	}

	&__item-text {
		white-space: pre;
		@include transitionEase(.2s);
	}

	&__login-mob {
		display: none;
	}

	&__login {
		display: flex;

		.login {
			display: block;
		}

		.logout {
			margin-left: 15px;
		}

		.profile {

			&.active {

				.icon:before,
				.profile__text {
					color: $activeColorDesk;
				}
			}
		}
	}
}

.login,
.logout,
.profile {
	text-align: center;
	text-transform: uppercase;
	font-size: .85rem;

	&:hover {

		.icon:before,
		.login__text,
		.logout__text,
		.profile__text {
			color: $activeColorDesk;
		}
	}

	&__text {
		@include transitionEase(.2s);
	}
}

.logout,
.profile {
	display: none;

	&__text {
		@include transitionEase(.2s);
	}
}

.login-end {

	.login {
		display: none;
	}

	.profile,
	.logout {
		display: block;
	}
}

.icon {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	
	&:before {
		@include transitionEase(.2s);
	}
}

%burger {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: $mainColor;
	height: 4px;
	border-radius: 5px;
}

.mobile-menu {
	width: 24px;
	height: 22px;
	position: relative;
	display: none;

	span {
		@extend %burger;
		top: 50%;
		transform: translateY(-50%);

		&:before {
			content: "";
			@extend %burger;
			transform: translateY(9px);
		}

		&:after {
			content: "";
			@extend %burger;
			transform: translateY(-9px);
		}
	}

	@include md {
		display: block;
	}
}

.close-menu {
	width: 20px;
	height: 20px;
	position: relative;
	display: block;

	&:before,
	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		height: 2px;
		background-color: $mainColor;
		transform: translateY(-50%) rotate(45deg);
	}

	&:after {
		transform: translateY(-50%) rotate(-45deg);
	}
}