// MAX-WIDTH --------------------
@media (max-width: 1280px) {
    .container {
		max-width: 1025px;
	}

	// Header-------------------
	.header {

		&__nav {
			flex-grow: 1;
		}
	}

	// Passing page, Main page------------------
	.main-section {
		height: calc(100vh - 25px);

		@include smH {
			height: auto;
		}

		&__top {
			font-size: 20px;

			@include smH {
				font-size: 14px;
			}
		}
	}

	.main-img {

		&--main {

			.main-img__stick {
				max-width: 270px;

				&--1 {
					top: 35%;
				}

				&--2 {
					top: 15%;
				}
			}
		}
	}

	.info-section {
		max-height: 320px;
		min-height: 320px;

		&__inner {
			padding-top: 170px;
		}

		&__item {
			font-size: 14px;
		}
	}

	.rules-section {
		font-size: .7rem;
	}

	// Title----------------
	.title {

		&--main {
			font-size: 4.35rem;
			line-height: 4rem;
		}
	}

	// Text----------------
	.text {

		&--main {
			font-size:  1.42rem;

			p {
	
				&:nth-child(n+2) {
					font-size: 1.28rem;
				}
			}
		}
	}

	// Winners, Profile, FAQ, Products---------------------------
	.section {

		&__winner-table {
			font-size: 20px;
		}

		&__profile-table {
			font-size: 18px;
		}

		&__faq {
			font-size: 15px;
		}

		&__products {
			margin-top: 30px;
			font-size: 15px;
		}
	}

	// Footer-------------------------------
	.footer {

		&__copyright {
			font-size: .5rem;
		}

		&__contacts {
			font-size: 1.3rem;
		}

		&__info {
			font-size: 1rem;
		}
	}
}

@media (max-width: 992px) {
	// Header-------------------
	body {

		&:after {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 9;
			background-color: $mainBlock;
			opacity: 0;
			visibility: hidden;
			transition: opacity .3s 0s, visibility 0s .3s;
		}

		&.open-menu {

			&:after {
				opacity: 1;
				visibility: visible;
				transition: opacity .3s 0s, visibility 0s 0s;
			}
		}
	}
	
	.header {

		.btn-wrap {
			flex-grow: 1;
		}

		&__nav {
			position: absolute;
			z-index: 10;
			top: 0;
			left: -25px;
			background-color: $mainColor;
			height: 0;
			min-height: 460px;
			flex-direction: column;
			flex-grow: 0;
			max-width: 200px;
			width: 100%;
			padding: 15px;
			transform: translateX(-100%);
			@include transitionEase(.3s);

			&.active {
				transform: translateX(0);
			}

			.login,
			.logout,
			.profile {
				text-align: left;
				position: relative;

				.login__text,
				.logout__text,
				.profile__text {
					color: $activeColorMob;
					padding-left: 35px; 
				}

				.icon {
					top: 50%;
					transform: translateY(-50%);

					&:before {
						color: $activeColorMob;
					}
				}

				&:hover {

					.icon:before,
					.login__text,
					.logout__text {
						color: $activeColorMob;
					}
				}
			}

			.logout {
				margin-top: 20px;
			}

			.icon {
				margin-bottom: 0;
				position: absolute;
				top: -5px;
				left: 0;

				&:before {
					color: $colorMenuMob;
				}
			}
		}

		&__login-mob {
			display: block;
		}

		&__nav-list {
			display: block;
			flex-grow: 1;
			margin-top: 20px;
		}	

		&__item {
			color: $colorMenuMob;
			display: flex;
			align-items: center;
			font-size: 0.57rem;
			font-family: $gothamReg;
			letter-spacing: .24px;
			padding: 0 0 10px 35px;
			border-bottom: 1px solid $colorMenuMob;
			position: relative;

			&:nth-child(n+2) {
				margin-left: 0;
				margin-top: 10px;
			}

			&:hover {

				.icon:before,
				.header__item-text {
					color: $activeColorMob;
				}
			}

			&--active {

				.icon:before,
				.header__item-text {
					color: $activeColorMob;
				}
			}
		}

		&__login {

			.login {
				font-size: .7rem;
			}

			.icon {
				font-size: 1rem;
				margin-bottom: 5px;
			}

			.logout {
				display: none;
			}
		}
	}

	// Passing-------------------
	.main-img {
		margin-top: 10%;

		&--main {
			margin-top: 4%;
			margin-bottom: 30px;

			.main-img__washer {

				img {
					top: 0;
				}
			}
		}

		&__washer {

			img {
				max-height: 300px;
				left: 20%;
    			top: -60px;
			}
		}
	}

	.main-section {

		@include mdH {
			height: auto;
		}

		&__top {

			@include smH {
				font-size: 20px;
			}
		}
	}

	.info-section {
		max-height: 250px;
		min-height: 250px;

		&__inner {
			padding-top: 120px;
			padding-left: 0;
			justify-content: space-around;
		}

		&__item {
			font-size: 11px;

			&.info-section__item--second {
				margin-left: 30px;
			}
		}
	}

	// Winners, Profile, FAQ, Products---------------------------
	.section {

		&__winner-table {
			font-size: 18px;
		}

		&__winner {
			margin-top: 20px;
		}

		&__profile {
			flex-wrap: wrap;
			margin-top: 30px;
		}

		&__profile-table {
			width: 100%;
		}

		&__profile-info {
			margin-top: 2.3em;
			flex: 0 1 23em;

			&:nth-of-type(even) {
				margin-left: 0;
			}
		}

		&__user-info,
		&__user-prizes {
			width: 100%;
		}

		&__faq {
			font-size: 16px;
			display: block;
			height: 570px;
			margin-top: 0;
			-webkit-overflow-scrolling: touch;

			.scroll-element.scroll-y {
				display: block;
			}
		}

		&__faq-inner {
			padding-right: 20px;

			&:nth-child(n+2) {
				margin-left: 0;
			}
		}

		&__products {
			display: block;
			font-size: 30px;
			max-width: 600px;
			width: 100%;
			margin: 30px auto 0;
		}
	}

	.products-name {
		max-width: none;
		border-radius: .33em .33em 0 0;
		display: flex;

		&__item {
			flex: 1 1 100%;
			justify-content: center;

			&:last-child {
				border-radius: 0 .33em 0 0;
			}

			&:nth-child(n+2) {
				border-top: none;
				border-left: 1px solid $lighterBlock;
			}
		}

		&__img {
			padding: .6em;
		}

		&__title {
			display: none;
		}
	}

	.products-wrap {
		min-width: auto;
		border-radius: 0 0 .33em .33em;

		&__list {
			justify-content: center;
			padding-right: .7em;
		}

		&__item {
			flex: 1 1 15em;
			max-width: 15em;
		}

		.text--product {
			max-width: 280px;

		}
	}
   
	.winner-table {
		border-radius: 0 0 .2em .2em;

		&__header {
			border-radius: none;
		}

		&__td-name {
			width: 30%;
		}

		&__td-date {
			width: 30%;
			text-align: center;
		}
	}

	.search-wrap {
		max-width: none;
	}

	.profile-table {
		height: 300px;
	}

	// Footer--------------------
	.footer {

		&__logo {

			img {
				max-height: 30px;
			}
		}

		&__content {

			&:last-child {
				margin-left: 15px;
			}
		}

		&__contacts {
			font-size: 1rem;

			.icon-phone {
				display: inline-block;
				font-size: 1.4rem;
			}
		}

		&__info {
			font-size: .7rem;
		}
	}
}

@media (max-width: 767px) {
	// Passing-------------------
	.section-passing {
		position: relative;
		margin-bottom: 45px;
	}

	.main-img {

		&--main {
			margin-bottom: 50px;
		}
		
		&--passing {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
		
		&__stick {

			&--1 {
				
				img {
					max-height: 150px;
				}
			}

			&--2 {
				
				img {
					max-height: 180px;
				}
			}
		}

		&__washer {

			img {
				max-height: 150px;
				top: -40px;
				left: 15%;
			}
		}
	}

	.main-section {
		height: auto;
		display: block;
	}

	.info-section {
		max-height: none;
		min-height: auto;
		background: none;
		margin-top: 0;

		&__inner {
			padding-top: 0;
			flex-direction: column;
			align-items: center;
			margin: 0 -20px;
		}

		&__item {
			width: 100%;
			font-size: 20px;
			padding-left: 20px;
			padding-right: 20px;

			&:nth-child(n+2) {
				margin-left: 0;
			}

			&:nth-child(odd) {
				padding-bottom: 25px;
				clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
			}

			&--first {
				background: $bgInfo1;
				padding-top: 45px;
			}

			&--second {
				background: $bgInfo2;
				padding-top: 25px;
				padding-bottom: 30px;
				position: relative;

				&:after {
					content: "";
					position: absolute;
					z-index: -1;
					top: 0;
					bottom: -50px;
					left: 0;
					right: 0;
					background: $bgInfo2;
				}
			}

			&--third {
				background: $bgInfo3;
				padding: 40px 0 !important;
				clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%) !important;

				.info-section__inner-item {
					margin-left: auto;
				}
			}

			&--fourth {
				position: relative;
				background: $bgInfo4;
				padding-top: 25px;
				padding-bottom: 20px;

				&:after {
					content: "";
					position: absolute;
					z-index: -1;
					top: -50px;
					bottom: 0;
					left: 0;
					right: 0;
					background: $bgInfo4;
				}
			}
		}

		&__inner-item {
			max-width: 280px;
			width: 100%;
			margin: 0 auto;
		}

		&__img-bag {
			display: block;
			flex-shrink: 0;
		}

		&__wrap-text {

			&:before {
				display: none;
			}
		}

		&__text-wrap {
			padding-left: 4.4em;

			&:before {
				height: 5.4em;
				width: 3.1em;
			}
		}

		&__text {

			&--pd {
				padding-left: 0;
				text-align: right;
			}

			&--mt {
				text-align: right;
			}
		}

		&__text-inner {

			&--second {
				text-align: right;
			}

			&--img {

				&:after {
					display: none;
				}
			}
		}
	}

	// Winners, Profile, FAQ, Products, Feedback---------------------------
	.section {

		&__winner-table {
			font-size: 14px;
		}

		&__profile {
			display: block;
		}

		&__profile-table {
			font-size: 14px;
		}

		&__profile-info {
			margin-left: 0 !important;
		}

		&__faq {
			font-size: 14px;
		}

		&__feedback {
			margin-top: 30px;
			padding: 15px;

			.btn-wrap {
				text-align: center;
			}
		}
	}

	.products-name {
		font-size: 20px;
	}

	.title {

		&--section {
			font-size: 28px;
		}
	}
   
	.winner-table {

		&__th {
			width: 33%;

			&--prize {
				padding-left: 1em;
			}

			&--mob {
				padding-left: 2em;
			}

			&--date {
				padding-right: 1em;
			}
		}

		&__td-title {
			width: 33%;
			padding-left: 1em;
		}

		&__td-name {
			width: 33%;
			text-align: center;
		}

		&__td-date {
			width: 33%;
			text-align: center;
		}
	}

	.search-wrap {
		font-size: 20px;
	}

	// Footer--------------------
	.footer {
		padding: 10px 0 20px;

		&__inner {
			flex-direction: column;
		}

		&__content {
			text-align: center;

			&:first-child {
				
				&:before {
					content: "";
					border-top: 1px solid rgba(71, 35, 128, .5);
					margin: 0 -20px;
					display: block;
				}
			}

			&:last-child {
				margin-left: 0;
				order: -1;
				align-items: center;
				padding-bottom: 15px;
			}
		}

		&__logo {
			margin-top: 15px;

			img {
				max-height: 45px;
			}
		}

		&__copyright {
			font-size: .7rem;
		}

		&__contacts {
			order: 1;
			align-self: center;
			margin-top: 15px;
			font-size: 1.1rem;

			.icon-phone {
				font-size: 1.7rem;
			}
		}

		&__info {
			border-bottom: none;
			font-size: .78rem;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;

			li {
				margin-top: 10px;

				&:nth-child(n+2) {
					margin-left: 15px;
				}
			}

			a {
				text-decoration: underline;
			}
		}
	}

}

@media (max-width: 480px) {

	// Passing------------------------
	.section-passing {
		margin-top: 35px;
	}

	.main-img {

		&--main {
			margin-bottom: 20px;
		}
		
		&__stick {

			&--1 {
				
				img {
					max-height: 115px;
				}
			}

			&--2 {
				
				img {
					max-height: 120px;
				}
			}
		}

		&__washer {

			img {
				top: -25px;
				left: 20%;
			}
		}
	}
	
	// Btn----------------
	.btn {

		&--popup {
			max-width: 230px;
			padding: 10px 5px;
		}
	}

	// Title----------------
	.title {

		&--popup {
			font-size: 2.1rem;
		}
	}

	// Winners, Profile, FAQ, Products---------------------------
	.section {

		&__winner-table {
			font-size: 10px;
		}

		&__faq {
			font-size: 12px;
		}

		&__products {
			font-size: 20px;
		}
	}

	.products-name {
		font-size: 12px;
	}

	.products-wrap {
		padding: .5em .2em .5em .5em;

		&__img {
			flex-shrink: 0;
		}
	}

	.winner-table {

		&__main-wrap {
			height: 350px;
		}
	}

	.search-wrap {
		font-size: 16px;
	}

	.profile-table {
		height: 160px;
	}

	// Popup-----------------
	.popup {

		&__close {
			right: 25px;
		}
	}

}


// MIN-WIDTH --------------------
@media (min-width: 479px) {
    
}

@media (min-width: 767px) {
    
}

@media (min-width: 991px) {
    
}

@media (min-width: 1999px) {
    
}