body {
  margin: 0 auto;
  padding: 50px 0;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  padding: 0;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
  background-color: #ffffff;
}

.table-email {
  box-shadow: -2px 1px 86px rgba(39, 39, 39, 0.2);
  width: 640px;
}

td {
  margin: 0;
  padding: 0;
}

img {
  outline: none;
  -ms-interpolation-mode: bicubic;
  display: block;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

.slogan {
  max-height: 200px;
}

.sticks {
  max-height: 330px;
}

.wrap-td-middle {
  padding: 40px;
}

.wrap-td-middle tr:nth-child(n+2) .td-middle-text {
  padding-top: 30px;
}

.wrap-td-middle tr:last-child .td-middle-text {
  padding-top: 15px;
}

.td-middle-text {
  color: #707070;
  font-size: 16px;
}

.td-middle-text a {
  color: #472380;
  text-decoration: underline;
}

.wrap-td-footer {
  padding: 15px 40px;
}

.td-footer-img img {
  max-height: 50px;
  margin: 0;
}

.td-footer-text {
  color: #472380;
  font-size: 8px;
}

.td-footer-tel {
  text-align: right;
}

.td-footer-tel a {
  color: #472380;
  font-size: 15px;
}
